body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    text-align: center;
    margin: 20px; /* Add horizontal margin between timers */
}

#studyTime, #breakTime {
    font-size: 48px;
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    width: 200px; /* Fixed width for the buttons */
}