body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3e5f5; /* Light purple background */
    font-family: 'Rubik', sans-serif; /* Use Rubik font */
    color: #4a148c; /* Dark purple text color */
}

body.dark-mode {
    background-color: #121212; /* Dark background */
    color: #e1bee7; /* Light purple text color */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1bee7; /* Light purple container background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.dark-mode .container {
    background-color: #333; /* Dark container background */
}

.timer {
    text-align: center;
    margin: 20px; /* Add horizontal margin between timers */
    padding: 20px;
    background-color: #f3e5f5; /* Light purple background for each timer */
    border: 2px solid #d1c4e9; /* Light purple border */
    border-radius: 10px;
}

body.dark-mode .timer {
    background-color: #444; /* Dark background for each timer */
    border: 2px solid #555; /* Dark border */
}

#studyTime, #breakTime {
    font-size: 48px;
    margin-bottom: 20px;
    color: #6a1b9a; /* Medium purple text color */
}

body.dark-mode #studyTime, body.dark-mode #breakTime {
    color: #bb86fc; /* Light purple text color */
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    width: 200px; /* Fixed width for the buttons */
    background-color: #8e24aa; /* Purple button background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7b1fa2; /* Darker purple on hover */
}

button:disabled {
    background-color: #d1c4e9; /* Light purple for disabled buttons */
    cursor: not-allowed;
}

body.dark-mode button {
    background-color: #bb86fc; /* Light purple button background */
    color: black;
}

body.dark-mode button:hover {
    background-color: #9c27b0; /* Darker purple on hover */
}

body.dark-mode button:disabled {
    background-color: #555; /* Dark background for disabled buttons */
    color: #888;
}

.quote-container {
    margin-bottom: 20px; /* Space between quote container and timer container */
    font-size: 24px;
    text-align: center;
    color: #4a148c; /* Dark purple text color */
    background-color: #e1bee7; /* Light purple background */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.dark-mode .quote-container {
    background-color: #333; /* Dark background */
    color: #e1bee7; /* Light purple text color */
}