<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <button id="modeToggle" onclick="toggleMode()">Switch to Dark Mode</button>
    <div class="quote-container">
        <p id="quote"></p>
    </div>
    <div class="container">
        <div class="timer">
            <h2>Study Timer</h2>
            <h3 id="studyTime">25:00</h3>
            <button id="startStudyButton" onclick="startStudyTimer()">Start Study</button>
            <button id="pauseStudyButton" onclick="pauseStudyTimer()" disabled>Pause Study</button>
            <button id="resetStudyButton" onclick="resetStudyTimer()" disabled>Reset Study</button>
        </div>
        <div class="timer">
            <h2>Break Timer</h2>
            <h3 id="breakTime">05:00</h3>
            <button id="startBreakButton" onclick="startBreakTimer()">Start Break</button>
            <button id="pauseBreakButton" onclick="pauseBreakTimer()" disabled>Pause Break</button>
            <button id="resetBreakButton" onclick="resetBreakTimer()" disabled>Reset Break</button>
        </div>
        <div class="timer">
            <h2>Long Break Timer</h2>
            <h3 id="longBreakTime">15:00</h3>
            <button id="startLongBreakButton" onclick="startLongBreakTimer()" disabled>Start Long Break</button>
            <button id="pauseLongBreakButton" onclick="pauseLongBreakTimer()" disabled>Pause Long Break</button>
            <button id="resetLongBreakButton" onclick="resetLongBreakTimer()" disabled>Reset Long Break</button>
        </div>
    </div>
    <div class="session-counts">
        <p>Completed Study Sessions: <span id="studyCount">0</span></p>
        <p>Completed Breaks: <span id="breakCount">0</span></p>
    </div>
    <audio id="studyEndSound" src="{{ url_for('static', filename='study_end.wav') }}"></audio>
    <audio id="breakEndSound" src="{{ url_for('static', filename='break_end.wav') }}"></audio>
    <audio id="startSound" src="{{ url_for('static', filename='start_sound.wav') }}"></audio>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>