<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Welcome Message -->
    {% if username %}
        <div class="alert alert-success" role="alert">
            Welcome, {{ username }}!
        </div>
    {% endif %}

        <div class="button-container">
            <button id="modeToggle" onclick="toggleMode()">Switch to Dark Mode</button>
            <button onclick="openCustomizePopup()">Customize Timers</button>
            <button onclick="openLoginModal()">Login</button>
            <button onclick="window.location.href='/logout'">Logout</button>
            <button onclick="openRegisterModal()">Register</button>
        </div>


    <!-- Login Modal -->
    
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeLoginModal()">&times;</span>
            <h2>Login</h2>
            <div id="login-error-message" style="color: red;"></div>
            <form id="loginForm">
                <div class="form-group">
                    <label for="login-username">Username</label>
                    <input type="text" class="form-control" id="login-username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input type="password" class="form-control" id="login-password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>

    <!-- Register Modal -->
    
    <div id="registerModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeRegisterModal()">&times;</span>
            <h2>Register</h2>
            <div id="error-message" style="color: red;"></div>
            <form id="registerForm" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="confirm_email">Confirm Email:</label>
                <input type="email" id="confirm_email" name="confirm_email" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
                
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#registerForm').on('submit', function(event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("register") }}',
                    data: $(this).serialize(),
                    success: function(response) {
                        if (response.success) {
                            $('#registerModal').hide();
                            alert(response.message);
                        } else {
                            $('#error-message').text(response.message);
                        }
                    }
                });
            });
        });

        $(document).ready(function() {
            $('#loginForm').on('submit', function(event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/login',
                    data: $(this).serialize(),
                    success: function(response) {
                        if (response.success) {
                            $('#loginModal').hide();
                            location.reload(); // Reload the page to update the welcome message
                        } else {
                            $('#login-error-message').text(response.message);
                        }
                    }
                });
            });
        });
    </script>


    <div class="music-session-container">
        <div class="music-container">
            <h3>Focus Music</h3>
            <audio id="focusMusic" src="{{ url_for('static', filename='audio/focusmusic1.mp3') }}"></audio>
            <div class="music-controls">
                <select id="musicOptions" onchange="changeMusic(this.value)">
                    <option value="static/audio/focusmusic1.mp3">Focus Music 1</option>
                    <option value="static/audio/focusmusic2.mp3">Focus Music 2</option>
                    <option value="static/audio/focusmusic3.mp3">Focus Music 3</option>
                    <option value="static/audio/focusmusic4.mp3">Focus Music 4</option>
                    <option value="static/audio/focusmusic5.mp3">Focus Music 5</option>
                </select>
                <button id="toggleMusicButton" onclick="toggleMusic()"><i class="fas fa-play"></i></button>
            </div>
        </div>
        <div class="session-counts">
            <p>Completed Study Sessions: <span id="studyCount">0</span></p>
            <p>Completed Breaks: <span id="breakCount">0</span></p>
        </div>
    </div>
    <div class="quote-container">
        <p id="quote"></p>
    </div>
    <div class="container">
        <div class="timer">
            <div class="progress-bar" id="studyProgressBar"></div>
            <h2>Study Timer</h2>
            <p id="studyDuration">25 mins</p>
            <h3 id="studyTime">25:00</h3>
            <button id="startStudyButton" onclick="startStudyTimer()">Start Study</button>
            <button id="pauseStudyButton" onclick="pauseStudyTimer()" disabled>Pause Study</button>
            <button id="resetStudyButton" onclick="resetStudyTimer()" disabled>Reset Study</button>
        </div>
        <div class="timer">
            <div class="progress-bar" id="breakProgressBar"></div>
            <h2>Break Timer</h2>
            <p id="breakDuration">5 mins</p>
            <h3 id="breakTime">05:00</h3>
            <button id="startBreakButton" onclick="startBreakTimer()">Start Break</button>
            <button id="pauseBreakButton" onclick="pauseBreakTimer()" disabled>Pause Break</button>
            <button id="resetBreakButton" onclick="resetBreakTimer()" disabled>Reset Break</button>
        </div>
        <div class="timer">
            <div class="progress-bar" id="longBreakProgressBar"></div>
            <h2>Long Break Timer</h2>
            <p id="longBreakDuration">15 mins</p>
            <h3 id="longBreakTime">15:00</h3>
            <button id="startLongBreakButton" onclick="startLongBreakTimer()" disabled>Start Long Break</button>
            <button id="pauseLongBreakButton" onclick="pauseLongBreakTimer()" disabled>Pause Long Break</button>
            <button id="resetLongBreakButton" onclick="resetLongBreakTimer()" disabled>Reset Long Break</button>
        </div>
    </div>
    <audio id="studyEndSound" src="{{ url_for('static', filename='audio/study_end.wav') }}"></audio>
    <audio id="breakEndSound" src="{{ url_for('static', filename='audio/break_end.wav') }}"></audio>
    <audio id="startSound" src="{{ url_for('static', filename='audio/start_sound.wav') }}"></audio>

    <!-- Customize Timer Popup -->
    <div id="customizePopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closeCustomizePopup()">&times;</span>
            <h2>Customize Timer</h2>
            <form id="customizeForm" onsubmit="customizeTimers(event)">
                <label for="studyDurationInput">Study Duration (minutes):</label>
                <input type="number" id="studyDurationInput" name="studyDurationInput" min="1" value="25">
                <label for="breakDurationInput">Break Duration (minutes):</label>
                <input type="number" id="breakDurationInput" name="breakDurationInput" min="1" value="5">
                <label for="longBreakDurationInput">Long Break Duration (minutes):</label>
                <input type="number" id="longBreakDurationInput" name="longBreakDurationInput" min="1" value="15">
                <label for="sessionsBeforeLongBreakInput">Sessions Before Long Break:</label>
                <input type="number" id="sessionsBeforeLongBreakInput" name="sessionsBeforeLongBreakInput" min="1" value="4">
                <button type="submit">Save</button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>